body{
    width: 100vw;
}
/* nav bar styling*/
.nav ul {
    text-decoration-style: none;
    list-style-type: none;
    color: white;
    background-color: black;
    display: flex;
    padding: 20px 10px;
}
.nav ul .tdash{
    display: none;
    max-width: 50px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}
.nav ul li  a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin:20px 20px;
}
.nav ul li .navA:hover{
    color: skyblue;
}
@media screen and (max-width: 400px) {
    .nav ul .tdash{
        display: block;
        margin :5px 20px;
        padding: 0;
        margin: 0;
    }
    .nav ul li a{
        display: none;
    }
    .nav ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .nav{
        max-width: 100vw;
        padding: 0;
        margin: 0;
    }
}
/* main section styling*/
.main #home {
    height: 90vh;
    background-image: url(https://th.bing.com/th/id/OIP.HpE_mnoJUzHaWmlCO4REXwHaEK?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}
.main #home .description{
    color: white;
    text-shadow: 0px 0px 10px silver;
    position: relative;
    top: 20em;
    left: 10em;
}
.main #home .description .name{
    color: red;
    text-shadow: 0px 0px 15px black;
    display: inline;
}
.main #home .description .afterWish{
    display: inline;
}
@media screen and (max-width:500px){
    .main #home .description .afterWish{
        display:block;
        font: 1em italic;
    }
    .main #home{
        width: 100vw;
    }
    .main #home .description{
        max-width: fit-content;
        padding: 20px 60px;
        margin:auto;
        position: relative;
        transform: translate(-65%,-50%);
    }
}
